@model Lotteri.Models.LottoItemModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Ta Bort</h2>

<h3>Är du säker på att du vill ta bort utlottningen?</h3>
<div>
    <h4>LottoItemModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ta bort" class="btn btn-default" /> |
        <a asp-action="Index">Tillbaka till listan</a>
    </form>
</div>
