@model Lotteri.Models.LottoItemModel

@{
    ViewData["Title"] = "Detaljer";
}

<h2>Detaljer</h2>

<div>
    <h4>LottoItemModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLottad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLottad)
        </dd>
    </dl>
</div>

<h2>Anmälda till utlottning:</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subscribers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscribers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscribers[0].Uid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subscribers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uid)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
    <a asp-action="Lotta" asp-route-id="@Model.Id">Lotta vinnare</a> |
    <a asp-action="Index">Tillbaka till listan</a>
</div>
